* {
  padding: 0%;
  margin: 0%;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  /* Credits to uigradients #SweetMorning */
  background: linear-gradient(90deg, #FF5F6D, #FFC371)
}

.grey {
  color: #e4e4e4;
}

.title {
  font-weight: 200;
  font-size: 4rem;
}

.round {
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

#logo {
  padding-top: 10vh;
  text-align: center;
}

#root {
  padding-top: 15rem;
  text-align: center;
  overflow: hidden;
}

#content {
  padding-top: 10vh;
}
